<div class="pt-3">
    <div class="jumbotron">
        <h1>API de Recibos</h1>
        <p class="lead">Esta es una aplicación API, creada como prueba de conocimiento para la empresa axos</p>
        <p><a href="/swagger" class="btn btn-primary btn-lg">Documentación API &raquo;</a></p>
    </div>
</div>